body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6dfa65;
  }
  body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #3498db, #2c3e50); /* Adjust colors as needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(14, 12, 12); /* Set text color for better contrast */
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  #taskInput {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  #addTaskButton {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #addTaskButton:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  
  .completeButton, .deleteButton {
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .completeButton {
    background-color: #28a745;
    color: #fff;
  }
  
  .deleteButton {
    background-color: #dc3545;
    color: #fff;
  }
  
  .completeButton:hover, .deleteButton:hover {
    background-color: #1e7e34;
  }
  

  